<div class="class text-center">
    <h3>Productos</h3>
        <hr>
        <br>
    </div>
<div class="col-md-5" *ngFor = "let producto of productos">
    <div class="card text-center">
        <div class="card-header bg-dark text-white d-flex justify-content-between align-items-center">
            {{producto.nombrep}}
            <button class = "btn btn-danger" (click) = "DeleteProducto(producto.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        <div class="card-body">
            <h5>Tipo_Perfume</h5>
            <br>
            <h4>{{producto.nombretp}}</h4>
        <hr>
            <h5>Descripcion</h5>
            <br>
            <h4>{{producto.descripcion}}</h4>  
        <hr>
             <h5>Fecha Creacion</h5>
             <br>
             <h4>{{producto.fecha}}</h4> 
        <hr>
             <h5>Genero</h5>
             <br>
             <h4>{{producto.genero}}</h4> 
        <hr>
             <h5>Nombre Perfumista</h5>
             <br>
             <h4>{{producto.nombrepe}}</h4> 
        <hr>
             <h5>Nacionalidad Perfumista</h5>
             <br>
             <h4>{{producto.nombred}}</h4> 
        <hr>
        <select #valor class="form-control" id="exampleFormControlSelect1" style="margin-bottom: 5px">
            <option>Seleccionar opción</option>
            <option *ngFor="let presentacion of presentaciones">
                {{presentacion.id}}-{{presentacion.cantidad}} ml
            </option>                            
        </select>    
               <a [routerLink] = "['/producto/edit',producto.id, producto.nombre, producto.descripcion, producto.fecha, producto.genero, producto.nombref, producto.nombretp, producto.nombrepe]" class="btn btn-info btn-block">
                EDITAR PRODUCTO
               </a>
        </div>
    </div>
</div>

<hr>
        <a routerLink="/producto/add" class="btn btn-info btn-block">
            AGREGAR PRODUCTO
           </a>
           <br>
<br>
