
<div class="row">
    <h3>Agregar Escala</h3>
    <hr>
    <div class="col-md-4 offset-md-2">
        <br>
        <div class="card">
            <div class="card-body">
                <form>
                <br>
                    <div class="form-group">
                        <p>Fecha Inicial</p>
                        <input type="text" name = "fechai" [(ngModel)] = "escala[0].fechai" placeholder="Fecha Inicial" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <p>Fecha Final</p>
                        <input type="text" name = "fechaf" [(ngModel)] = "escala[0].fechaf" placeholder="Fecha Fin" class="form-control" autofocus>
                    </div>  
                  <p>Rango Inicial</p>
                    <div class="form-group">
                      <input type="text" name = "rangoi" [(ngModel)] = "escala[0].rangoi" placeholder="Rango Inicial" class="form-control" autofocus>
                  </div>
                  <p>Rango Fin</p>
                    <div class="form-group">
                      <input type="text" name = "rangof" [(ngModel)] = "escala[0].rangof" placeholder="Rango Final" class="form-control" autofocus>
                  </div>
                  <p>Productor</p>
                    <div class="form-group">
                      <input type="text" name = "productor" [(ngModel)] = "evaluacion[0].productor" placeholder="Productor" class="form-control" autofocus>
                  </div>
                     
          <hr>
          <hr>  
                    <button (click)= "SaveNuevoProducto()" class="btn btn-success btn-block">
                        SAVE 
                    </button>  
                    <hr>
                </form>
            </div>
        </div>
    </div>
  </div>
  