
<div class="row">
    <h3>Agregar Cantidad Pedido</h3>
    <hr>
    <div class="col-md-4 offset-md-2">
        <br>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name = "fechai" [(ngModel)] = "cantidad[0].cantidad" placeholder="Cantidad" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "fechaf" [(ngModel)] = "cantidad[0].id" placeholder="Pedido" class="form-control" autofocus>
                    </div>
                    
          <hr>        

               
                    <button (click)= "SaveNuevoProducto()" [routerLink] = "['/pedidospendiente', contrato[0].productor, clave[0].id, perfume[0].ingrediente, contrato[0].proveedor]" class="btn btn-success btn-block">
                        SAVE
                    </button>  

                    <button (click)= "getAliados()"  class="btn btn-success btn-block">
                        CONSEGUIR CONDICIONES CLAVE
                    </button>  

                </form>
            </div>
        </div>
    </div>
</div>


