<div class="container">

    <div class="text-center py-3"><h1>Evaluaciones</h1></div>
    <hr>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="col-md-12 text-center">
          <button (click)="gotoRenovacion()">
            <h3 class="justify-content-center text-center py-4"><i></i>Renovacion</h3>
          </button>
        </div>
        <hr>
        <div class="col-md-12 text-center">
          <button (click)="gotoEvaluacionFinal()">
            <h3 class="justify-content-center text-center py-4"><i></i>Evaluacion Final</h3>
          </button>
        </div>
        <hr>
        <div class="col-md-5 text-center">
          <button (click)="gotoEvaluacion()">
            <h3 class="justify-content-center text-center py-4"><i></i>Ver Evaluaciones</h3>
          </button>
        </div>  
        <hr>
        <div class="col-md-5 text-center">
            <button (click)="gotoEvaluaciones()">
              <h3 class="justify-content-center text-center py-4"><i></i>Ir a Evaluaciones</h3>
            </button>
          </div>  

        </div>
</div>





<br>