
<div class="row">
  <h3>Agregar Perfume a Catalogo</h3>
  <hr>
  <div class="col-md-4 offset-md-2">
      <br>
      <div class="card">
          <div class="card-body">
              <form>
                <select #valor class="form-control" id="exampleFormControlSelect1" style="margin-bottom: 5px">
                  <option>Ver Perfume a elegir en la casilla de abajo</option>
                  <p>(Colocar id del perfume en la casilla de abajo)</p>
                  <option *ngFor="let perfumes of perfumes">
                      {{perfumes.id}}-{{perfumes.nombre}} 
                  </option>                            
              </select>  
              <br>
                  <div class="form-group">
                      <input type="text" name = "nombre" [(ngModel)] = "perfume[0].perfume" placeholder="Numero Perfume" class="form-control" autofocus>
                  </div>
                  <select #valor class="form-control" id="exampleFormControlSelect1" style="margin-bottom: 5px">
                    <p>(Colocar id del ingrediente en la casilla de abajo)</p>
                    <option *ngFor="let ingredienteo of ingredienteo">
                        {{ingredienteo.id}}-{{ingredienteo.nombre}} 
                    </option>                            
                </select>  
                <option>Ver Ingredientes Otros a elegir en la casilla de abajo</option>
                  <div class="form-group">
                      <p>Ingrediente</p>
                      <input type="text" name = "ingrediente" [(ngModel)] = "perfume[0].ingrediente" placeholder="Ingrediente" class="form-control" autofocus>
                  </div>
                  <select #valor class="form-control" id="exampleFormControlSelect1" style="margin-bottom: 5px">
                    <option>Ver Ingredientes Esencia a elegir en la casilla de abajo</option>
                    <option *ngFor="let ingmateria of ingmateria">
                        {{ingmateria.id}}-{{ingmateria.nombre}} 
                    </option>                            
                </select>  
                <p>(Colocar id del ingrediente en la casilla de abajo)</p>
                <p>Materia</p>
                  <div class="form-group">
                    <input type="text" name = "materia" [(ngModel)] = "perfume[0].materia" placeholder="Materia" class="form-control" autofocus>
                </div>
                <p>Contrato</p>
                  <div class="form-group">
                    <input type="text" name = "contrato" [(ngModel)] = "perfume[0].contrato" placeholder="Contrato" class="form-control" autofocus>
                </div>
                   
        <hr>
        <hr>  
                  <button (click)= "SaveNuevoProducto()" class="btn btn-success btn-block">
                      SAVE 
                  </button>  
                  <hr>
              </form>
          </div>
      </div>
  </div>
</div>
