
<div class="row">
  <h3>Agregar Perfume a Catalogo</h3>
  <hr>
  <div class="col-md-4 offset-md-2">
      <br>
      <div class="card">
          <div class="card-body">
              <form>
                <select #valor class="form-control" id="exampleFormControlSelect1" style="margin-bottom: 5px">
                  <option>Ver Perfume a elegir en la casilla de abajo</option>
                  <option *ngFor="let perfumes of perfumes">
                      {{perfumes.id}}-{{perfumes.nombre}} 
                  </option>                            
              </select>  
              <br>
                  <div class="form-group">
                      <input type="text" name = "nombre" [(ngModel)] = "perfume[0].perfume" placeholder="Numero Perfume" class="form-control" autofocus>
                  </div>
                  <div class="form-group">
                      <input type="text" name = "ingrediente" [(ngModel)] = "perfume[0].ingrediente" placeholder="Ingrediente" class="form-control" autofocus>
                  </div>
                  <div class="form-group">
                    <input type="text" name = "materia" [(ngModel)] = "perfume[0].materia" placeholder="Materia" class="form-control" autofocus>
                </div>
                  <div class="form-group">
                    <input type="text" name = "contrato" [(ngModel)] = "perfume[0].contrato" placeholder="Contrato" class="form-control" autofocus>
                </div>
                  
        <hr>               
                  <button (click)= "SaveNuevoProducto()" class="btn btn-success btn-block">
                      SAVE
                  </button>  
              </form>
          </div>
      </div>
  </div>
</div>
