<div class="row">
    <h3>Agregar/Editar Producto</h3>
    <hr>
    <div class="col-md-4 offset-md-2">
        <br>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name = "nombre" [(ngModel)] = "producto.nombre" placeholder="Nombre" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "descripcion" [(ngModel)] = "producto.descripcion" placeholder="Descripcion" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "genero" [(ngModel)] = "producto.genero" placeholder="Descripcion" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "nombref" [(ngModel)] = "producto.nombref" placeholder="Descripcion" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "nombretp" [(ngModel)] = "producto.nombretp" placeholder="Descripcion" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "nombrepe" [(ngModel)] = "producto.nombrepe" placeholder="Descripcion" class="form-control" autofocus>
                    </div>
                    <select #valor class="form-control" id="exampleFormControlSelect1" style="margin-bottom: 5px">
              <option>Seleccionar opción</option>
              <option *ngFor="let presentacion of presentaciones">
                  {{presentacion.cantidad}} ml {{presentacion.costo}} $
              </option>                            
          </select>  
          <hr>
                    <input #canti class="form-control form-control-md" type="text" placeholder="Cantidad" style="margin-bottom: 5px">                   
                    <button routerLink = "/carrito" class="btn btn-block btn-primary" (click)="addCart(canti.value, pedido, producto, valor.value, presentacion); canti.value = ''" data-dismiss="modal">Agregar al carrito</button> 
                </form>
            </div>
        </div>
    </div>
</div>


<div class = "col-md-4">
    <div class="card card-body text-center">
        <h5>{{producto.id}}. {{producto.nombre}}</h5>
        <p>{{producto.descripcion}}</p>

    </div>
</div>

