<div class="row">
    <h3>Agregar/Editar Aliados</h3>
    <hr>
    <div class="col-md-4 offset-md-2">
        <br>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name = "razon" [(ngModel)] = "aliados.razon" placeholder="Razon" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "pagina" [(ngModel)] = "aliados.pagina" placeholder="pagina" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "telefono" [(ngModel)] = "aliados.tel" placeholder="Telefono" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "activo" [(ngModel)] = "aliados.activo" placeholder="Activo" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "membresia" [(ngModel)] = "aliados.membresia" placeholder="Membresia" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "lugar" [(ngModel)] = "aliados.lugar" placeholder="Direccion" class="form-control" autofocus>
                    </div>
                    <select #valor class="form-control" [(ngModel)] = "ingredientes.nombre" id="exampleFormControlSelect1" style="margin-bottom: 5px">
                        <option>Seleccionar opción</option>
                        <option *ngFor="let ingredientes of ingredientes">
                            {{ingredientes.nombre}}-{{ingredientes.costo}}-$
                        </option>                            
                    </select>  
                    <hr>
                    <input #canti class="form-control form-control-md" type="text" placeholder="Cantidad" style="margin-bottom: 5px">                   
                             
                    <button routerLink = "/carrito" class="btn btn-block btn-primary" (click)="addCart(canti.value, pedido, producto, valor.value, ingredientes); canti.value = ''" data-dismiss="modal">Agregar al carrito</button> 
                    <!-- <button (click)= "edit ? updatedEvento() : SaveNuevoEvento()" class="btn btn-success btn-block">
                        SAVE
                    </button> -->
                </form>
            </div>
        </div>
    </div>
</div>


<div class = "col-md-4">
    <div class="card card-body text-center">
        <h5>{{aliados.id}}. {{aliados.razon}}</h5>
        <p>{{aliados.pagina}}</p>
         <p>  {{aliados.tel}} </p> 
         <p>  {{aliados.activo}} </p> 
          <p> {{aliados.membresia}} </p> 
           <p> {{aliados.lugar}} </p>
        
    </div>
</div>

