<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600' rel='stylesheet' type='text/css'>
<link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">

<div class="testbox">
  <h1>Inicio Sesión</h1>

  <form action="/">
  <hr>
  <label id="icon" for="Usuario"><i class="icon-user"></i></label>
  <input type="text" name="Usuario" [(ngModel)] = "usuario.nombre" id="name" placeholder="Nombre de usuario" required/>
 <label id="icon" for="Contraseña"><i class="icon-shield"></i></label>
  <input type="password" name="Contraseña" [(ngModel)] = "usuario.contrasena" id="name" placeholder="Contraseña" required/>
   <button (click)= "getsUsuario()" class="button">Entrar</button>
  </form>
</div>

<div class="container justify-content-center">
  <div *ngIf="loading == true" class="div">
    <h3>Cargando Información</h3>
    <div class="spinner-border text-danger" role="status">
      <span class="sr-only">Loading...</span>
    </div>   
  </div>
</div>