
<div class="row">
    <h3>Agregar/Editar Contrato</h3>
    <hr>
    <div class="col-md-4 offset-md-2">
        <br>
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group">
                        <input type="text" name = "fechai" [(ngModel)] = "contrato.fechai" placeholder="Fecha Inicio" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "fechaf" [(ngModel)] = "contrato.fechaf" placeholder="Fecha Fin" class="form-control" autofocus>
                    </div>
                    <div class="form-group">
                        <input type="text" name = "descripcion" [(ngModel)] = "contrato.descripcion" placeholder="Descripcion" class="form-control" autofocus>
                    </div>
                    <select #valor class="form-control" id="exampleFormControlSelect1" style="margin-bottom: 5px">
                        <option>Ver Proveedores a elegir en la casilla de abajo</option>
                        <option *ngFor="let aliados of aliados">
                            {{aliados.id}}-{{aliados.razon}} 
                        </option>                            
                    </select>  
                    <div class="form-group">
                        <input type="text" name = "proveedor" [(ngModel)] = "contrato.proveedor" placeholder="Proveedor" class="form-control" autofocus>
                    </div>
                    <select #valor class="form-control" id="exampleFormControlSelect1" style="margin-bottom: 5px">
                        <option>Ver Productores a elegir en la casilla de abajo</option>
                        <option *ngFor="let aliados of aliadosp">
                            {{aliados.id}}-{{aliados.razon}} 
                        </option>                            
                    </select>  
                    <div class="form-group">
                        <input type="text" name = "productor" [(ngModel)] = "contrato.productor" placeholder="Productor" class="form-control" autofocus>
                    </div>
                    
          <hr>               
                    <button (click)= "edit ? updatedContrato() : SaveNuevoProducto()" (click) = "getPerfumeP(contrato)" [routerLink] = "['/catalogo/add', contrato.productor, contrato.id]" class="btn btn-success btn-block">
                        SAVE
                    </button>  
                </form>
            </div>
        </div>
    </div>
</div>


